<div class="parentCardsI">
  <mat-card>
    <img class="introImg" mat-card-image [src]="introduction?.imageUrl">
    <div class="divIntro">
      <mat-card-content>
        <p>{{introduction?.firstname}} {{introduction?.lastname}}</p>
        <p>{{introduction?.email}}</p>
        <p>{{introduction?.birthDate}}</p>
        <p>{{isAvailable(introduction?.status) ? 'Available' : 'Unvailable'}}</p>
      </mat-card-content>
    </div>
    <p class="description">
      {{introduction?.description}}
    </p>
    <button mat-button mat-raised-button  color="accent" [disabled]="true" (click)="edit()">Edit</button>
  </mat-card>
</div>
