<div class="parentCardsI">
  <mat-card>
    <img class="introImg" mat-card-image [src]="introduction?.imageUrl">
    <div class="divIntro">
      <mat-card-content>
        <p>{{introduction?.firstname}} {{introduction?.lastname}}</p>
        <p>{{introduction?.email}}</p>
        <p>{{introduction?.birthDate}}</p>
        <span appYearsOfExperience [nbrOfYears]="introduction.experience"></span>
        <div *ngIf="isAvailable(introduction?.status); else unvailable">
          <p><mat-icon [style.color]="'#01DF74'">check_circle</mat-icon>Available</p>
        </div>
        <ng-template #unvailable>
          <p><mat-icon [style.color]="'orangered'">highlight_off</mat-icon>Unvailable</p>
        </ng-template>
      </mat-card-content>
      <mat-card-actions>
        <img *ngFor="let link of introduction?.links" mat-card-avatar [src]="link.picture" />
      </mat-card-actions>
    </div>
    <p class="description">
      {{introduction?.description}}
    </p>
    <button mat-button mat-raised-button  color="accent" [disabled]="disable" (click)="edit()">Edit</button>
  </mat-card>
</div>
