<div class="parentCardsI">
  <mat-card>
    <img class="introImg" mat-card-image [src]="introduction?.imageUrl">
    <div class="divIntro">
      <mat-card-content>
        <p>{{introduction?.firstname}} {{introduction?.lastname}}</p>
        <p>{{introduction?.email}}</p>
        <p>{{introduction?.birthDate}}</p>

        <mat-icon >check_circle</mat-icon>
        <mat-icon >highlight_off</mat-icon>

      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </div>
    <p class="description">
      {{introduction?.description}}
    </p>
    <button mat-button mat-raised-button  color="accent" [disabled]="disable" (click)="edit()">Edit</button>
  </mat-card>
</div>
